<div class= "container max-w-[600px] mx-auto">
  <h1 class = " text-[20px] font-bold text-orange-500">Edit this Activity</h1>
  <%= render 'activity' %>
  <hr>
  <%= render 'form', location: @activity %>
  <br>
  <div class = "underline text-red-800">
    <%= link_to 'Back to Activity Index ', activities_path %>
  </div>
</div>