<div class= "container max-w-[700px] mx-auto">
  <h2 class = "font-bold h-5 text-orange-500">Create a new Location</h2>
  <br>
  <%= render 'form', location: @location %>
  <br>
  <div class = "underline text-red-800">
    <%= link_to 'Back to Locations Index', locations_path %>
  </div>
</div>